header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 40px 0 40px;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav > a {
  display: inline;
  margin-right: 15px;
  font-size: large;
  text-decoration: none;
  color: black;
}

header > hr {
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

